<link href='../static/style.css' rel='stylesheet' type='text/css'>

<div class="container">
    <div class="header">
        <div class="full-name">
            <span class="first-name">Joseph</span> 
            <span class="last-name">Goff</span>
        </div>
        <div class="contact-info">
            <span class="email">LinkedIn: </span>
            <span class="email-val">www.linkedin.com/in/josephngoff</span>
        </div>
            <p><a href="/">Back to Home Page</a></p>
        <div class="about">
            <span class="position">About Me </span>
            <span class="desc">
                I have many passions outside of my studies.
            </span>
        </div>
    </div>
    <div class="details">
        <div class="section">
            <div class="section">
                <div class="section__title">
                   Interests
                </div>
                <div class="section__list">
                    <div class="section__list-item">
                        I play the trombone, and was previously in the Aggie Marching Band.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>