<link href='../static/style.css' rel='stylesheet' type='text/css'>

<div class="container">
    <div class="header">
        <div class="full-name">
            <span class="first-name">Joseph</span> 
            <span class="last-name">Goff</span>
        </div>
        <div class="contact-info">
            <span class="email">LinkedIn: </span>
            <span class="email-val">www.linkedin.com/in/josephngoff</span>
        </div>
            <p><a href="/about">About me page</a></p>
        <div class="about">
            <span class="position">Cybersecurity Student </span>
            <span class="desc">I am an Information Systems major with an emphasis in Cybersecurity at Utah State University. My studies have given me a strong foundation in networking, programming, database design, and security fundamentals.</span>
        </div>
    </div>
    <div class="details">
        <div class="section">
            <div class="section">
                <div class="section__title">Education</div>
                <div class="section__list">
                    <div class="section__list-item">
                        <div class="left">
                            <div class="name">Utah State University, Jon M. Huntsman School of Business</div>
                            <div class="addr">Logan, UT</div>
                            <div class="duration">Aug 2023 - May 2025</div>
                        </div>
                        <div class="right">
                            <div class="name">Bachelor of Science, Information Systems with a Cybersecurity Emphasis</div>
                            <div class="desc">Expanded and applied networking, programming, database management, and security fundamentals skills. Relevant Coursework: Intro to Cloud Computing, Cybersecurity I, Database Management. Member of Student Organization for Cybersecurity.</div>
                        </div>
                    </div>
                    <div class="section__list-item">
                        <div class="left">
                            <div class="name">Southern Utah University</div>
                            <div class="addr">Cedar City, UT</div>
                            <div class="duration">Aug 2018 - May 2022</div>
                        </div>
                        <div class="right">
                            <div class="name">Associate of Science</div>
                            <div class="desc">Gained a strong foundation in networking, programming, database management, and security fundamentals. Relevant Coursework: Fundamentals of Security, Data Comm & Networking, Object-Oriented Programming.</div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="section__title">Experience</div>
            <div class="section__list">
                <div class="section__list-item">
                    <div class="left">
                        <div class="name">Autonomous Solutions, Inc. (ASI)</div>
                        <div class="addr">Petersboro, UT</div>
                        <div class="duration">Aug 2022 - April 2023</div>
                    </div>
                    <div class="right">
                        <div class="name">Software Tester</div>
                        <div class="desc">Developed and executed comprehensive test plans and test cases to ensure optimal performance and scalability under various load conditions. Analyzed test results, identified bottlenecks, and recommended improvements to software development teams. Performed root-cause analysis on scalability issues, provided detailed reports, and worked closely with developers to resolve issues in a timely manner. Trained junior team members on best practices for scalability testing and performance analysis.</div>
                    </div>
                </div>
                <div class="section">
                    <div class="section__title">Organizations</div> 
                    <div class="section__list">
                        <div class="section__list-item">
                            <div class="name">Student Organization for Cybersecurity</div>
                            <div class="text">Trained for Capture the Flag (CTF) competitions like the National Cyber League (NCL). Worked in teams to solve complex Cybersecurity problems.</div>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <div class="section__title">Skills</div>
                    <div class="skills">
                        <div class="skills__item">
                            <div class="left">
                                <div class="name">Java</div>
                            </div>
                            <div class="right">
                                <input  id="ck1" type="checkbox" checked/>
                                <label for="ck1"></label>
                                <input id="ck2" type="checkbox" checked/>
                                <label for="ck2"></label>
                                <input id="ck3" type="checkbox" checked/>
                                <label for="ck3"></label>
                                <input id="ck4" type="checkbox" />
                                <label for="ck4"></label>
                                <input id="ck5" type="checkbox" />
                                <label for="ck5"></label>
                            </div>
                        </div>
                    </div>
                    <div class="skills__item">
                        <div class="left">
                            <div class="name">Python</div>
                        </div>
                        <div class="right">
                            <input  id="ck1" type="checkbox" checked/>
                            <label for="ck1"></label>
                            <input id="ck2" type="checkbox" checked/>
                            <label for="ck2"></label>
                            <input id="ck3" type="checkbox" checked/>
                            <label for="ck3"></label>
                            <input id="ck4" type="checkbox" />
                            <label for="ck4"></label>
                            <input id="ck5" type="checkbox" />
                            <label for="ck5"></label>
                        </div>
                    </div>
                    <div class="skills__item">
                        <div class="left">
                            <div class="name">Linux Command Line</div>
                        </div>
                        <div class="right">
                            <input  id="ck1" type="checkbox" checked/>
                            <label for="ck1"></label>
                            <input id="ck2" type="checkbox" checked/>
                            <label for="ck2"></label>
                            <input id="ck3" type="checkbox" />
                            <label for="ck3"></label>
                            <input id="ck4" type="checkbox" />
                            <label for="ck4"></label>
                            <input id="ck5" type="checkbox" />
                            <label for="ck5"></label>
                        </div>
                    </div>
                    <div class="skills__item">
                        <div class="left">
                            <div class="name">AWS</div>
                        </div>
                        <div class="right">
                            <input  id="ck1" type="checkbox" checked/>
                            <label for="ck1"></label>
                            <input id="ck2" type="checkbox" checked/>
                            <label for="ck2"></label>
                            <input id="ck3" type="checkbox" />
                            <label for="ck3"></label>
                            <input id="ck4" type="checkbox" />
                            <label for="ck4"></label>
                            <input id="ck5" type="checkbox" />
                            <label for="ck5"></label>
                        </div>
                    </div>       
                    <div class="skills__item">
                        <div class="left">
                            <div class="name">SQL</div>
                        </div>
                        <div class="right">
                            <input  id="ck1" type="checkbox" checked/>
                            <label for="ck1"></label>
                            <input id="ck2" type="checkbox" checked/>
                            <label for="ck2"></label>
                            <input id="ck3" type="checkbox" />
                            <label for="ck3"></label>
                            <input id="ck4" type="checkbox" />
                            <label for="ck4"></label>
                            <input id="ck5" type="checkbox" />
                            <label for="ck5"></label>
                        </div>
                    </div>
                    <div class="skills__item">
                        <div class="left">
                            <div class="name">Git</div>
                        </div>
                        <div class="right">
                            <input  id="ck1" type="checkbox" checked/>
                            <label for="ck1"></label>
                            <input id="ck2" type="checkbox" />
                            <label for="ck2"></label>
                            <input id="ck3" type="checkbox" />
                            <label for="ck3"></label>
                            <input id="ck4" type="checkbox" />
                            <label for="ck4"></label>
                            <input id="ck5" type="checkbox" />
                            <label for="ck5"></label>
                        </div>
                    </div>       
                </div>
            </div>
        </div>
    </div>
</div>